<section class="about">
	<div class="row">
		<div class="small-12 columns text-center section-title">
			<h3>&mdash; Hey!</h3>
		</div>
	</div>


	<div class="row">
		<div class="small-12 medium-7 columns about-img">
			<img src="/assets/img/jpg/man-with-beenie.jpg" alt="">
		</div>
		<div class="small-12 medium-5 columns overlap-left">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				dolore texercitation ullamco laboris ndisi ut aliquip ex ea commodo consequat. <span
					class="accent-hint">(+)</span></p>
		</div>
	</div>

</section>