<section class="clients">
	<div class="row">
		<div class="small-12 columns text-center section-title">
			<h3>Our&mdash;<br>Clients!</h3>
		</div>
	</div>


	<!-- These are columns. There are 3 columns in the large and medium views. -JMS -->
	<div class="row company-logos">
		<!-- Column 1 of 3 -->
		<div class="column align-self-bottom">
			<div class="row">
				<div class="small-12 columns company-logo"><img src="../assets/img/png/logo-microsoft.png" alt=""></div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns company-logo"><img src="../assets/img/png/logo-twitter.png" alt=""></div>
				<div class="small-12 medium-6 columns company-logo"><img src="../assets/img/png/single-diagonal-line-slash.png"
				                                             alt=""></div>
			</div>
			<div class="row flex-right">
				<div class="small-12 medium-6 columns company-logo">
					<img src="../assets/img/png/logo-apple.png" alt="">
				</div>
			</div>
		</div>
		<!-- Column 2 of 3 -->
		<div class="column align-self-middle">
			<div class="row">
			<div class="small-12 columns company-logo logo-behance"><img src="../assets/img/png/logo-behance.png" alt=""></div>
			<div class="small-12 columns company-logo logo-google large-offset-6"><img src="../assets/img/png/logo-google.png" alt=""></div>
				</div>
		</div>
		<!-- Column 3 of 3 -->
		<div class="column align-self-top">
			<div class="row">
			<div class="small-12 columns company-logo text-center"><img src="../assets/img/png/three-slight-cureved-lines.png" alt=""></div>
			<div class="small-12 columns company-logo"><img src="../assets/img/png/logo-evernote.png" alt=""></div>
				</div>
		</div>
	</div>

</section>