<section class="contact">
    <div class="row">
        <div class="small-12 columns text-center">
            <h3>Get in &mdash;<br>Touch!</h3>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-4 columns">
            <h4>Our Location</h4>
            <address>
                <p>123 Different Street</p>
                <p>Lisbon, Portugal 1200-000</p>
                <p>(+351) 123-4567</p>
                <p>Tiago Nariso</p>
                <p>Say Hello!</p>
            </address>
            <div class="small-12 columns social-contact">
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></>
                <a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></>
                <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></>
            </div>
        </div>
        <div class="small-12 medium-8 columns">
            <img src="http://placehold.it/669x400?text=A+Map+of+669x400" alt="">
        </div>
    </div>




















</section>