<section class="work">
	<div class="row">
		<div class="small-12 columns text-center section-title">
			<h3>Check&mdash;<br>This out!</h3>
		</div>
	</div>

	<!--There is kinda-ish three rows of images here. -JMS -->
	<!--Rows of mosiac images. -JMS-->
	<div class="row">
		<div class="small-12 medium-2 columns large-offset-1 show-for-medium">
			<img src="/assets/img/png/curved-squiggle.png" alt="">
		</div>
	</div>


	<div class="row flex-end">
		<div class="small-12 medium-6 columns image">
			<p class="image-caption cap-upper-left">Heclem Magazine<br></bra><span>EDITORIAL DESIGN</span></p>
			<img src="/assets/img/jpg/pamphlet.jpg" alt="">
		</div>
	</div>


	<div class="row row-padding">
		<div class="small-12 medium-4 columns image">
			<p class="image-caption cap-upper-right">Alt-J Fall Tour<br></bra><span>Graphic Design</span></p>
			<img src="../assets/img/jpg/flower-pattern-book-cover.jpg" alt="" class="up-image-60">
		</div>
		<div class="small-12 medium-4 columns image">
			<p class="image-caption cap-mid-left">Elegent Theme<br></bra><span>Web Design</span></p>
			<img src="../assets/img/png/half-imac.png" alt="">
		</div>
		<div class="small-12 medium-4 columns text-center centered-accent three-straight-lines show-for-medium">
			<img src="../assets/img/png/three-straight-lines.png" alt="" width="230" height="24">
		</div>
	</div>


	<div class="row row-padding">
		<div class="small-12 medium-2 columns pos-rel show-for-medium image">
			<img src="../assets/img/png/single-diagonal-line-backslash.png" alt="" height="152" width="90"
			     class="up-image-60">
		</div>
		<div class="small-12 medium-6 columns image ">
			<p class="image-caption cap-upper-left">Magazine<br></bra><span>EDITORIAL DESIGN</span></p>
			<img src="../assets/img/jpg/fallen-poster.jpg" alt="" width="570" height="340">
		</div>
		<div class="small-12 medium-4 columns image">
			<p class="image-caption cap-mid-low-left">Argo<br></bra><span>Branding</span></p>
			<img src="../assets/img/jpg/hanging-open-book.jpg" alt="" width="370" height="560" class="up-image-60">
		</div>
	</div>


	<div class="row">
		<div class="small-12 columns text-center">
			<a href="#" class="check-more-posts med-underline">More</a>
		</div>
	</div>
</section>